/* style.css */
html {
    background-image:
        url('/static/reseau_top.png'),
        url('/static/reseau_bottom.png');
    background-color: #0E2A47; /* Couleur de fond */
    background-repeat: no-repeat, no-repeat; /* Assurez-vous que les images ne se répètent pas */
    background-position: top left, bottom right;
    margin: 10px;
    height: 97%;
}

body {
    font-family: Arial, sans-serif; /* C'est une police de base pour une lisibilité améliorée, vous pouvez la changer si vous le souhaitez */
    color: #ffffff; /* Couleur de texte blanche pour une meilleure lisibilité sur le fond sombre */
    text-align: center; /* Centre le contenu par défaut */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    align-items: center; /* Centrer verticalement le titre et le bouton */
    justify-content: flex-start; /* Aligner les éléments au début (à gauche) du conteneur */
    gap: 20px; /* Espace entre le bouton et le titre */
}

.button-home.hover {
    opacity: 0.8;
}

.python_web, .ttyd_consol, .information {
    border: 2px solid white;
    border-radius: 15px;
    margin: 20px 0;
    padding: 2px;
    position: relative;
    height: 70px;
    width: 400px;
}

.python_web, .ttyd_consol, .information {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

.hover-text {
    display: none;
    position: absolute;
    top: -25px;  /* Ajustez selon vos besoins */
    left: 50%;
    transform: translateX(-50%);
    background-color: #007BFF;  /* Couleur de fond de la tooltip */
    color: white;  /* Couleur du texte de la tooltip */
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 12px;
    white-space: nowrap;
}

.python_web:hover .hover-text,
.ttyd_consol:hover .hover-text {
    display: block;
}

.status-actions {
    display: flex;
    align-items: center; 
    gap: 10px; // Pour donner un peu d'espace entre la case de couleur, l'image et les boutons
}


.status {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.status-green {
    background-color: green;
}

.status-red {
    background-color: red;
}

.status-gray {
    background-color: gray;
}

.button-image {
    cursor: pointer;
    margin: 5px;
    transition: opacity 0.2s;
}

.button-image:hover {
    opacity: 0.8;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.2s;
}

.button-link:hover {
    background-color: #0056b3;
}

.button-home {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    text-align: left;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.2s;
}

.button-home:hover {
    background-color: #0056b3;
}

