{% extends "base.html" %}

{% block content %}
    <div class="background"></div>
    <h2>Gestion des serveurs</h2>
    <div class="information">
        {% if message %}
            <p id=message>Information : {{ message }}</p>
        {% endif %}
    </div>
    
    <br>
    
    <div class="python_web">
        <div class="status-actions">
            <div class="status-indicator {{status_http}}"></div>
            <span class="hover-text">Python Web</span>
            <img src="{{ url_for('static', filename='python_web.png') }}" alt="Image for Python Web" width="50px" height="50px">
            <span class="status {{ 'status-green' if http_button_state == 'disabled' else 'status-red' if http_button_state == 'enable' else 'status-gray' }}"></span>
            {% if http_button_state == "enable" %}
                <img src="{{ url_for('static', filename='bouton-marche.png') }}" alt="Démarrer le serveur HTTP" class="button-image" onclick="window.location.href='/start_http_server'" width="25px" height="25px">
            {% else %}
                <img src="{{ url_for('static', filename='bouton-arret.png') }}" alt="Arrêter le serveur HTTP" class="button-image" onclick="window.location.href='/stop_http_server'" width="25px" height="25px">
            {% endif %}
        </div>
    </div>
    
    <div class="ttyd_consol">
        <div class="status-actions">
            <div class="status-indicator {{status_ttyd}}"></div>

            <span class="hover-text">TTYD Console</span>
            <img src="{{ url_for('static', filename='ttyd_consol.png') }}" alt="Image for TTYD Console" width="50px" height="50px">
            <span class="status {{ 'status-green' if ttyd_button_state == 'disabled' else 'status-red' if ttyd_button_state == 'enable' else 'status-gray' }}"></span>
            {% if ttyd_button_state == "enable" %}
                <img src="{{ url_for('static', filename='bouton-marche.png') }}" alt="Démarrer le serveur TTYD" class="button-image" onclick="window.location.href='/start_ttyd_server'" width="25px" height="25px">
            {% else %}
                <img src="{{ url_for('static', filename='bouton-arret.png') }}" alt="Arrêter le serveur TTYD" class="button-image" onclick="window.location.href='/stop_ttyd_server'" width="25px" height="25px">
            {% endif %}
        </div>
    </div>

    
    <script>
        setTimeout(function() {
            var messageElement = document.getElementById('message');
            if (messageElement) {
                messageElement.style.display = 'none';
            }
        }, 5000);  // 5000 millisecondes, soit 5 secondes
    </script>


{% endblock %}
