{% extends "base.html" %}

{% block content %}
    <h1>Services</h1>
    
    {% for app in apps %}
        <form action="{{ app['url'] }}" method="get">
            <img src="{{ url_for('static', filename=app['url'][1:] + '.png') }}" alt="{{ app['url'][1:] }} icon" width="50" height="50">
            <button type="submit" class="button-link">
                {% if app['url'][1:] == 'gestionnaire_control' %}
                    Gestion des serveurs
                {% elif app['url'][1:] == 'java_control' %}
                    Version Minecraft
                {% elif app['url'][1:] == 'minecraft_control' %}
                    Minecraft Panel
                {% else %}
                    {{ app['url'][1:] }}  {# Valeur par défaut si aucune des conditions ne correspond. #}
                {% endif %}
            </button>
        </form>
    {% endfor %}

{% endblock %}
