{% extends "base.html" %}

{% block content %}

<div class="header">
    <img src="{{ url_for('static', filename='home.png') }}" alt="Home/Acceuil" class="home-button" onclick="window.location.href='/'" width="45px" height="45px">
    <h1>Sélectionnez la version de Minecraft</h1>
</div>

<form action="/set_java_version" method="post">
    <label for="minecraft_version">Version de Minecraft:</label>
    <select name="minecraft_version" id="minecraft_version">
        {% for version in minecraft_versions %}
            <option value="{{ version }}">{{ version }}</option>
        {% endfor %}
    </select>
    <br><br>
    <input type="submit" value="Configurer la version de Java">
</form>


{% endblock %}
